ion-toolbar{
    text-align: center;
}

#clown{
    padding: 15%
}

ion-card{
    text-align: center;
    font-size:xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200;
}