<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Generar QR</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container" style="text-align: center; padding: 20px;">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Tu Código QR</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div id="qrImage">
          <qr-code *ngIf="qrAssist" [value]="qrAssist" size="190" errorCorrectionLevel="M"/>
          <img *ngIf="!qrAssist" src="assets/img/qr-code-inverse.webp" alt="">
          <h5 *ngIf="!qrAssist" class="ion-padding-top">No hay QR generado</h5>
        </div>
      </ion-card-content>
    </ion-card>
     <ion-button (click)="captureScreen()" *ngIf="qrAssist" class="submit ion-margin-top" expand="block">
      Share
      <ion-icon slot="end" name="share-social-outline"></ion-icon>
     </ion-button>
  </div>
</ion-content>
